<div class="col-lg-12 container">
	<br><br>
	<h1>Portfolio</h1>
	<p><em>Click on a screenshot to see more information on the project</em></p>
	<%= link_to projects_firenza_path do %>
		<div class="col-sm-5 portfolio-item firenza">
		</div>
	<% end %>
	<div class="col-sm-2"></div>
	<%= link_to projects_react_cats_path do %>
		<div class="col-sm-5 portfolio-item cats">
		</div>
	<% end %>
	<%= link_to projects_applied_meaning_path do %>
		<div class="col-sm-5 portfolio-item applied">
		</div>
	<% end %>
<div class="col-sm-2"></div>
	<%= link_to projects_petnet_path do %>
		<div class="col-sm-5 portfolio-item petnet">
		</div>
	<% end %>
	<%= link_to projects_tictactoe_path do %>
		<div class="col-sm-5 portfolio-item ttt">
		</div>
	<% end %>
	<div class="col-sm-2"></div>
	<%= link_to projects_muziqala_path do %>
		<div class="col-sm-5 portfolio-item muziqala">
		</div>
	<% end %>
</div>
