<%= render 'navbar' %>

<div class="container">
	<h3>Freelance Project: Firenza Pizza Franchise Website</h3>

	<p>This is a website where prospective franchisees can get information on Firenza Pizza and submit a contact form to request more information.</p>

	<%= link_to 'Firenza project on Github', 'https://github.com/KateWood/firenza' %>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Ruby on Rails</li>
		<li>Bootstrap</li>
		<li>DigitalOcean (Ubuntu)</li>
		<li>Google Domains/DNS</li>
		<li>Postfix</li>
		<li>SPF/DKIM</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of myfirenza.com.</em>

	<h4>Landing Page</h4>
	<%= link_to (image_tag 'tictactoelanding.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>First Player's View</h4>
	<%= link_to (image_tag 'tttfire.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>Second Player's View</h4>
	<%= link_to (image_tag 'tttice.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>Readme</h4>
	<%= link_to (image_tag 'tttreadme.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

</div>


