<%= render 'navbar' %>

<div class="container">
	<h3>Freelance Project: Firenza Pizza Franchise Website</h3>

	<p>This is a website where prospective franchisees can get information on Firenza Pizza and submit a contact form to request more information.</p>

	<%= link_to 'Firenza project on Github', 'https://github.com/KateWood/firenza' %>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>PostgreSQL</li>
		<li>Ruby on Rails</li>
		<li>DigitalOcean (Ubuntu)</li>
		<li>Google Domains/DNS</li>
		<li>Postfix</li>
		<li>SPF/DKIM</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of myfirenza.com.</em>

	<h4>Landing Page</h4>
	<%= link_to (image_tag 'myfirenzafullpage.png'), 'https://www.myfirenza.com', :class => "linkpic" %>

	<h4>Index of Inquiries</h4>
	<p>Logged in users can view all contact form submissions here.</p>
	<%= link_to (image_tag 'myfirenzaindex.png'), 'https://www.myfirenza.com', :class => "linkpic" %>

	<h4>Inquiry Show Page</h4>
	<p>Logged in users can view individual contact form submissions here.</p>
	<%= link_to (image_tag 'myfirenzainquiry.png'), 'https://www.myfirenza.com', :class => "linkpic" %>

	<h4>Alert</h4>
	<p>Email sent to company when contact form is submitted.</p>
	<%= link_to (image_tag 'myfirenzaalert.png'), 'https://www.myfirenza.com', :class => "linkpic" %>

</div>


