<nav class="nav navbar nav-pink navbar-fixed-top">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="icon"><%= image_tag "default.jpg", :class => "icon" %></span>  Kate Wood - Web Developer</a>
		</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/resume">R&eacute;sum&eacute;</a></li>
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/projects/1">Tic-Tac-Toe</a></li>
						<li><a href="/projects/2">Petnet</a></li>
						<li><a href="/projects/3">Muziqala</a></li>
						<li><a href="/projects/4">Applied Meaning</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="stripe" id="stripe1">
	<div class="col-lg-12 container">
		<%= image_tag "default.jpg", :class => "img-responsive main-img" %>
		<br>
		<h1>Kate Wood</h1>
		<hr class="star-light">
		<h2>Full Stack Web Developer</h2>
	</div>
</div>

<div class="stripe" id="stripe2">
	<div class="col-lg-12 container">
		<h1>Portfolio</h1>
		<%= link_to projects_1_path do %>
			<div class="col-sm-5 portfolio-item ttt">
			</div>
		<% end %>
		<div class="col-sm-2"></div>
		<%= link_to projects_2_path do %>
			<div class="col-sm-5 portfolio-item petnet">
			</div>
		<% end %>
		<div class="col-sm-5 portfolio-item muziqala">
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-5 portfolio-item applied">
		</div>
	</div>
</div>

<div class="stripe" id="stripe3">
	<div class="col-lg-12 container about">
		<h1>About Me</h1>
		<hr class="star-light">
		<h3> My background in both comedy writing and customer service give me a unique perspective on how to build an app. Comedy writing is fun and creative, but follows formatting rules, much like coding, so I know how to "draw inside the lines" without being boring. I also know how to communicate with customers and make them happy.</h3>
		<hr class="star-light">
		<%= link_to "View my resume", resume_path %>
	</div>
</div>

<div class="stripe" id="stripe4">
	<div class="col-lg-12 container">
		
	</div>
</div>
