<%= render 'navbar' %>

<div class="container">
	<h3>Project 3: Muziqala</h3>

	<p>Muziqala is a new way to access music from Spotify, and see what music your friends are listening to. All users can add songs to public playlists that everyone else can access and listen to.</p>

	<%= link_to 'Muziqala on Github', 'https://github.com/KateWood/muziqala' %>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>Ruby on Rails</li>
		<li>Spotify API</li>
		<li>PostgreSQL</li>
		<li>RSpec</li>
		<li>Factory Girl</li>
		<li>Capybara</li>
		<li>Travis-CI</li>
		<li>Heroku</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of Muziqala.</em>

	<h4>Landing Page</h4>
	<%= link_to (image_tag 'muziqalalanding.png'), 'https://muziqala.herokuapp.com/', :class => "linkpic" %>

	<h4>User's Profile</h4>
	<%= link_to (image_tag 'muziqalaprofile.png'), 'https://muziqala.herokuapp.com/', :class => "linkpic" %>

	<h4>Playlist</h4>
	<%= link_to (image_tag 'muziqalaplaylist.png'), 'https://muziqala.herokuapp.com/', :class => "linkpic" %>

	<h4>Readme</h4>
	<%= link_to (image_tag 'muziqalareadme.png'), 'https://muziqala.herokuapp.com/', :class => "linkpic" %>

</div>



