<%= render 'navbar' %>

<div class="container">
	<h3>Project 2: Petnet</h3>

	<p>Have you ever gotten a Facebook friend request from a dog? Do you maintain a Facebook profile for your pet? Silly pets, Facebook is for people. Pets deserve their own social network! Enter <em>Petnet</em>, a social newtork for pets and the parents who love them.<br>Pet parents can sign up for an account, and then create profiles for all of their fur babies. Pets can create blog posts, which pet parents can comment on.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>Ruby on Rails</li>
		<li>PostgreSQL</li>
		<li>Heroku</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of Petnet.</em>

	<h4>Landing Page</h4>
	<%= link_to (image_tag 'petnetlanding.png'), 'https://gapetnet.herokuapp.com', :class => "linkpic" %>

	<h4>User's Profile</h4>
	<%= link_to (image_tag 'petnetparent.png'), 'https://gapetnet.herokuapp.com', :class => "linkpic" %>

	<h4>List of All Pets</h4>
	<%= link_to (image_tag 'petnetpets.png'), 'https://gapetnet.herokuapp.com', :class => "linkpic" %>

	<h4>Pet's Profile</h4>
	<%= link_to (image_tag 'petnetpetprofile.png'), 'https://gapetnet.herokuapp.com', :class => "linkpic" %>

	<h4>Pet's Post</h4>
	<%= link_to (image_tag 'petnetpost.png'), 'https://gapetnet.herokuapp.com', :class => "linkpic" %>

	<h4>Readme</h4>
	<%= link_to (image_tag 'petnetreadme.png'), 'https://gapetnet.herokuapp.com/', :class => "linkpic" %>

</div>

