<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69400624-1', 'auto');
  ga('send', 'pageview');

</script>

<%= render 'navbar' %>

<div class="container">
	<h1>R&eacute;sum&eacute;</h1>
	<span id="respic">
		<%= image_tag 'default.jpg' %>
	</span>

	<h2><span class="glyphicon glyphicon-ok"></span> Skills</h2>
	<br>
	<h4>Coding Language Proficiency</h4>
	<p>Ruby | Rails | PostgreSQL | JavaScript | Node.js | MongoDB | Express.js | Angular.js | HTML | CSS | Bootstrap | RSpec | Factory Girl | Capybara | Travis-CI | Firebase | Heroku | DigitalOcean | Postfix | SPF/DKIM</p>

	<br>
	<h4>Additional Skills</h4>
	<p>Creative thinking | Problem solving | Proofreading | Comedy writing | Microsoft Office | Strong math skills | Organizational skills | Fast learner | Friendly | Professional | Personable | Mensa member</p>

	<br>
	<h2><span class="glyphicon glyphicon-text-background"></span> Developer Experience</h2>

	<br>
	<h4>Instructional Associate for WDI at General Assembly | Nov 2015 - present | Santa Clarita, CA</h4>
	<p>I am part of the instructional team for the Web Development Immersive program. My responsibilities include taking attendance, posting the daily schedule each morning, assisting students with debugging, and running labs.</p>

	<br>
	<h4>Freelance Web Developer | Sept 2015 - present | Santa Clarita, CA</h4>
	<p>I built a Ruby on Rails app for Firenza Pizza Franchise LLC. It is deployed at <%= link_to "www.myfirenza.com", "http://www.myfirenza.com", :class => "link" %>. This is the first project that I deployed on DigitalOcean, so I learned a lot more about that process. I also set up an outbound only mail server with PostFix to email form submissions to the company owners. This project was a great learning experience.</p>

	<br>
	<h4>Teacher's Assistant for WDI at General Assembly | Aug 2015 - Nov 2015 | Santa Monica, CA</h4>
	<p>Teaching assistant for current GA Web Development students focused on Ruby on Rails, Javascript, AngularJS, MongoDB, ExpressJS, NodeJS, Heroku, and Git.
	I work with students on their assignments and projects. I have learned a lot of MEAN stack through helping students understand their projects. I have also gotten way more experience debugging through helping dozens of students figure out what is going on in their code. I also tutor a student privately.</p>

	<br>
	<h4>Web Developer, Tech Lead at Rhubarb Studios (Bootcamp) | Aug 2015 - Sept 2015 | Los Angeles, CA</h4>
	<p>Tech lead on a project called TeamSpace - part of the Rhubarb Studios Build Bootcamp. Team of four developers and a product manager building a Ruby on Rails web application optimized for mobile.
	I learned a lot about Agile programming, and also spent a lot of time pair programming with other developers.</p>

	<br>
	<h2><span class="glyphicon glyphicon-briefcase"></span> Professional Experience</h2>

	<br>
	<h4>Administrative Work | 2007 - 2009 &amp; 2013 - 2015</h4>
	<p>I have performed administrative jobs including data entry and payroll positions at multiple companies. This work involved Microsoft Office, MAS90, QuickBooks, Adobe Acrobat, and other computer programs. I also gained experience working with clients.</p>

	<br>
	<h4>Social Media Consultanting | 2011 - 2013</h4>
	<p>As a social media consultant, I created instructional social media videos, created and maintained company manuals, edited the company website, and acted as an administrator of the company's Facebook page.</p>

	<br>
	<h2><span class="glyphicon glyphicon-education"></span> Education</h2>
	<br>
	<h4>General Assembly - Web Development Immersive (WDI) | Apr 2015 - Jul 2015 | Santa Monica, CA</h4>
	<p>I went into WDI not knowing if I would like coding, but I ended up LOVING it! I found the lessons to be informative and exciting; I couldn't get enough. Now that the course has ended, I'm still excited to continue to be part of the GA community as a TA or mentor. I have made so many wonderful friends and learned so many amazing things that I would certainly describe WDI as one of the best and most fulfilling experiences of my life.</p>

	<br>
	<h4>New York University (B.F.A. in Film & Television) | Sep 2004 - Oct 2005 & May 2010 - Dec 2011 | New York, NY</h4>
	<p>I studied film and television in college and moved to Los Angeles to pursue a career as a television writer. Although I have not gotten that job, I have had many wonderful experiences in California, and my path has lead me to coding, which I really enjoy.</p>

	<br>
	<h2><span class="glyphicon glyphicon-file"></span> <%= link_to 'References on LinkedIn', 'https://www.linkedin.com/in/katewood611', :class => "link" %></h2>

	<br>
	<h2><span class="glyphicon glyphicon-user"></span> Contact</h2>
	<br>
	<h4><%= mail_to 'katekodes@gmail.com', 'Email' %> | 
	<%= link_to 'LinkedIn Profile', 'https://www.linkedin.com/in/katewood611' %> | 
	<%= link_to 'GitHub Profile', 'https://github.com/KateWood' %> | 
	<%= link_to 'GA Profile', 'https://profiles.generalassemb.ly/katewood' %></h4>
</div>