<%= render 'navbar' %>

<div class="container">
	<h3>Project 1: Tic-Tac-Toe</h3>

	<p>This <em>Fire & Ice</em> themed Tic-Tac-Toe game is a two-player game which updates the screen for both players as each player takes his/her turn.<br>Each player may only choose a square on his/her turn, and the game ends when someone wins or all of the spaces are taken with no winner.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Javascript</li>
		<li>Angular.js</li>
		<li>Firebase</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of my Tic-Tac-Toe. To experience all of the features, open the site in two browser windows side-by-side.</em>

	<h4>Landing Page</h4>
	<%= link_to (image_tag 'tictactoelanding.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>First Player's View</h4>
	<%= link_to (image_tag 'tttfire.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>Second Player's View</h4>
	<%= link_to (image_tag 'tttice.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

	<h4>Readme</h4>
	<%= link_to (image_tag 'tttreadme.png'), 'https://tictactoekate.firebaseapp.com/', :class => "linkpic" %>

</div>


